.font-size-c {
  font-size: 9px;
  padding: 1px 4px;
  border-radius: 5px;
}

.tv-show {
  color: rgba(255, 255, 255, 0.842);
  background-color: rgba(76, 0, 255, 0.568);
}

.movie {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.842);
  background-color: rgba(0, 183, 255, 0.568);
}
